[package]
name = "konoha"
description = "Flexible monolithic governance components for Starknet"
version = "1.0.0"
cairo-version = "2.6.3"

[dependencies]
starknet = ">=2.0.0"
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.10.0" }
sncast_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.22.0" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.23.0" }

[lib]

[[target.starknet-contract]]

[scripts]
test = "snforge test"

[tool.fmt]
sort-module-level-items = true

[[tool.snforge.fork]]
name = "MAINNET"
url = "http://178.32.172.148:6060/v0_7"
block_id.tag = "Latest"

[[tool.snforge.fork]]
name = "SEPOLIA"
url = "http://178.32.172.148:6062/v0_7"
block_id.tag = "Latest"

RUST_BACKTRACE = 1
